eric_scripts/
.mash2dist.py.swp
add_barcodes_to_illumina_seqs.py~
arisa_raw_for_trex.pl~
calc_contig_stats.py~
calculating_ani_FIXED.pl~
calculating_ani_v2.pl~
calculating_ani_v2_testing.pl~
concat_and_trim_stefan_sanger_seqs.pl~
filter_fasta_by_length.py~
filter_isolates_from_otu_table.pl~
filter_otus_from_otu_map.py~
filter_seqs_from_otu_map.pl~
hpc_clust2qiime.py~
jplace_otuids.py~
metagenome_scripts/.idea/
my_useful_functions.pyc
pear_for_multiple_files.py~
pipelines/MSU_pipeline_testing/MSU_quality_pipeline.py~
pipelines/MSU_pipeline_testing/mapping_corrected.txt
pipelines/MSU_pipeline_testing/pipeline/
pipelines/MSU_pipeline_testing/raw_seqs/
pipelines/Usearch_clustering_testing/otu_table.txt
pipelines/Usearch_clustering_testing/qc_seqs.fasta
pipelines/Usearch_clustering_testing/test/
pipelines/Usearch_clustering_testing/usearch_clustering_pipeline.py~
pipelines/list_of_files.txt
pipelines/pgm_ion_torrent_qc.py~
pipelines/snakemake_conda_version/
pipelines/snakemake_testing/.snakemake/
pipelines/snakemake_testing/Step1_pear_merged/
pipelines/snakemake_testing/Step2_vsearch_qaqc/
pipelines/snakemake_testing/Step3_adapttrim/
pipelines/snakemake_testing/chamber_mapping_file.txt
pipelines/snakemake_testing/command_list_summary
pipelines/snakemake_testing/config.yaml~
pipelines/snakemake_testing/mothur.1507243112.logfile
pipelines/snakemake_testing/mothur.1507243176.logfile
pipelines/snakemake_testing/mothur.1507294762.logfile
pipelines/snakemake_testing/mothur.1507294793.logfile
pipelines/snakemake_testing/mothur.1507294892.logfile
pipelines/snakemake_testing/mothur.1507294894.logfile
pipelines/snakemake_testing/mothur.1507294895.logfile
pipelines/snakemake_testing/mothur.1507295396.logfile
pipelines/snakemake_testing/mothur.1507295398.logfile
pipelines/snakemake_testing/mothur.1507295399.logfile
pipelines/snakemake_testing/raw_seqs/
pipelines/snakemake_testing/raw_seqs_test/
pipelines/snakemake_testing/raw_seqs_test2/
pipelines/snakemake_testing/test.log
pipelines/usearch_clustering_pipeline.py~
plotting/
relabel_fastq_files_by_specified_name.py~
relabel_fluidigm_sample_names.py~
rename_fasta_seqs_from_file.pl~
reverse_compliment_barcode_mapping_file.py~
search_genome_from_gene_list.pl~
separate_fastq_by_barcodes.py~
slice_fasta.py~
split_large_fasta.pl~
summarize_alpha_div.py~
transform_biom.py~
truncate_fasta.py~
truncate_fastq.py~
xml_blast_parsing.py~
